<section class="main-index">
    <nav>
        <a href="home.html"><img src="images/mayday_logo.png" alt="#"></a>
        <div class="nav-links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/register">SIGN UP</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
        </div>
    </nav>

    <div class="textbox">
        <span>Get Informed</span>
        <h1>mayday is here</h1>
        <p>If you are interested in helping us bettering the administrating of COVID-19 data, Mayday is the service for you. The aim of our site is to develop a population data system which focuses on the attendance of points of interest (P.O.I.s) and the management of possible contact with a COVID-19 case. <p>
        <a href="/register">Become a member</a>
        <a href="/login">Login</a>
    </div>
</section>