<footer>
    <ul>
        <li><a href="https://www.google.com/maps/@37.0294117,5.7878071,3z" alt="" target="_blank"><img src="/icon/loc.png" alt="#" /></a>We are Everywhere</li>
        <li><a href="#"><img src="/icon/email.png" alt="#" /></a>mayday@gmail.com</li>
    </ul>

    <div class="copyright">
        <p>Copyright 2022 All Right Reserved By Mayday Co</p>
    </div>
</footer>