<header>
    <section class="general-header">
        <nav>
            <a href="/"><img src="images/mayday_logo.png" alt="#"></a>
            <div class="nav-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/register">SIGN UP</a></li>
                    <li><a href="/login">LOGIN</a></li>
                   
                </ul>
            </div>
        </nav>
    </section>
</header>