
<!---------------------- About Section ---------------------->
<section>
    <div class="about">
        <div class="container">
                <div class="column">
                    <h1>About Us</h1>
                    <p>Managing the COVID-19 pandemic and its aftermath is a challenge in many countries of the world. To control the possible dispersal we have collected the population (traffic) data of the city of Patras which are related to the frequency of visits to geographical points of interest (P.O.I.s) such as shops, restaurants and other services. The traffic density can act as an indicator of a place's popularity, but also asa risk factor for possible spread of COVID-19. At the same time, it is only an estimate based on geolocation data and does not depend on the actual number of visitors to one certain place. Therefore, you, as a visitor, would be helpful to have the opportunity to contribute your personal estimate of the actual number of visitors in a Point of Interset, as well as to register, if you want, yourself as an active case of COIVD-19 as long as it is true. You are a great help to not only us, but to the general management of the pandemic.</p>
                    <p>ONE FOR ALL & ALL FOR ONE</p>
                    <a href="/register">REGISTER TODAY</a>
                </div>
                <div class="column">
                    <img src="images/brain.png" alt="#">
                </div>
        </div>
    </div>
</section>
<!---------------------- End About Section ---------------------->